<h5><b> コメント一覧(<%= post.comments.count %>件)</b></h5>
<hr>
<% post.comments.parents.each do |comment| %>
  <%= render partial: 'admin/comments/hide_comments', locals: {comment: comment, comment_reply: comment_reply} %>
<% end %>