<div class="posts-new">
    <div class="container-fluid px-5">
        <h2>新規配色投稿</h2>
        <div class="row py-3">
        <%= form_with(model: @post, local: true) do |form| %>

            <div class="col-md-6">
                <div class="color-box">
                    <div class="color" id="color_one"></div>
                    <div class="color" id="color_two"></div>
                    <div class="color" id="color_three"></div>
                    <div class="color" id="color_four"></div>
                </div>



                </div>
            </div>
        </div>

    </div>
</div>