// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top {
  padding-bottom: 6%;
}

.double_line {
  display: inline-block;
  position: relative;
  padding: 18px;
  border: solid 4px #db7093;
  background-color: #f0fff0;
  font-size: 50px;
  font-family: 'Kaushan', cursive, sans-serif;
  // ↓ 文字に対してのグラデーション
  background: linear-gradient(45deg, #FA8BFF 16%, #2BD2FF 57%, #2BFF88 90%);
  background: -webkit-linear-gradient(45deg, #FA8BFF 16%, #2BD2FF 57%, #2BFF88 90%);
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientEffect 2.5s infinite alternate;
  // ここまで
}

// 左から右へ移動するよう定。（偶数回は左から右へ（逆方向）へ）
@keyframes gradientEffect {
  from {background-position: left}
  to {background-position: right}
}

.double_line::before {
  content: "";
  position: absolute;
  top: 6px;
  bottom: -14px;
  right: -14px;
  left: 6px;
  border: solid 4px #ffc0cb;
}

.top-text span {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Zen Kurenaido', sans-serif;
  color: #0000cd;
  background:linear-gradient(transparent 60%, #ff6 60%);//マーカーのような下線
}

.top_link{
  font-family: 'Zen Kurenaido', sans-serif;
  font-weight: bold;
  position: absolute;
  color: #dc143c;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}

.top_diamond1,
.top_diamond2,
.top_diamond3 {
  position: relative;
  width: 180px;
  height: 200px;
  margin: 0 auto;
}

.top_diamond1::before {
  content: "";
  width: 0;
  height: 0;
  border-right: 90px solid transparent;
  border-bottom: 100px solid #7fffd4;
  border-left: 90px solid transparent;
  position: absolute;
  transition: all 1s;
  z-index: 2;
}

.top_diamond1::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 100px solid #98fb98;
  border-right: 90px solid transparent;
  border-left: 90px solid transparent;
  position: absolute;
  top: 50%;
  transition: all 1s;
  z-index: 3;
}

.top_diamond2::before {
  content: "";
  width: 0;
  height: 0;
  border-right: 90px solid transparent;
  border-bottom: 100px solid #87cefa;
  border-left: 90px solid transparent;
  position: absolute;
  transition: all 1s;
  z-index: 2;
}

.top_diamond2::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 100px solid #afeeee;
  border-right: 90px solid transparent;
  border-left: 90px solid transparent;
  position: absolute;
  top: 50%;
  transition: all 1s;
  z-index: 3;
}

.top_diamond3::before {
  content: "";
  width: 0;
  height: 0;
  border-right: 90px solid transparent;
  border-bottom: 100px solid #ffb6c1;
  border-left: 90px solid transparent;
  position: absolute;
  transition: all 1s;
  z-index: 2;
}

.top_diamond3::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 100px solid #e9967a;
  border-right: 90px solid transparent;
  border-left: 90px solid transparent;
  position: absolute;
  top: 50%;
  transition: all 1s;
  z-index: 3;
}

.top_diamond1:hover::before,
.top_diamond2:hover::before,
.top_diamond3:hover::before {
  transform: translateY(-20px);
  opacity: 0.5;
}

.top_diamond1:hover::after,
.top_diamond2:hover::after,
.top_diamond3:hover::after {
  transform: translateY(20px);
  opacity: 0.5;
}

.top_new_diamond {
  display: flex;
  flex-wrap: wrap;
  width: 70px;
  height: 70px;
  transform: rotate(45deg);
  margin: 10px auto;
  /*リンクの形状*/
  outline: none;
}

.top_new_diamond:hover::before {
  content: '';
  /*絶対配置で波形の位置を決める*/
  position: absolute;
  left:30%;
  top:0;
  /*波形の形状*/
  border: 1px solid #333;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /*はじめは不透明*/
  opacity:1;
  /*アニメーションの設定*/
  animation:1s circleanime2 forwards;
}

/*波形が広がるアニメーション*/
@keyframes circleanime2{
  0%{
    transform: scale(0);
  }
  100%{
    transform:scale(2);
    opacity: 0;
  }
}

.top_new_square {
  width: 46%;
  height: 46%;
  margin: 1px;
  position: relative;
  border: 1px solid #dcdcdc;
}

.top_new_title {
  font-family: 'Zen Kurenaido', sans-serif;
  font-weight: bold;
}