// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.edit-img {
  within: 200px;
  height: 200px;
  object-fit: cover;
}
// ↑ プレビュー画像の大きさ指定