<div class="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-mb-3">
                <%= render 'layouts/public_sidebar' %>
            </div>

            <div class="col-mb-9">
            
            </div>
        </div>
    </div>
</div>