/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

header {
  background: lightyellow;
}

footer {
  background: lightcyan;
  height: 45px;
}

.logo-image {
  width: 100px;
  height: 100px;
  background: url('logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
}

.icon1 {
  color: #ff1493;
}

.icon2 {
  color: #0000ff;
}

.icon3 {
  color: #ba55d3;
}

.icon4 {
  color: #00ff00;
}

.icon5 {
  color: #ff8c00;
}

.admin-login {
  background-color: whitesmoke;
  box-shadow: 0px 3px 6px 0px #9E9E9E;
  padding: 10px; 
}

/*「jScroll」使用のスロールのため固定*/
.user_info {
  position: fixed;
}

.index_title {
  position: fixed;
}

/*トップへ戻るボタンの設定（DMM WEBCAMP MEDIAから拝借）*/
#page_top{
  width: 100px;
  height: 100px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: #e25407;
  opacity: 0.6;
  border-radius: 50%;
}

/* Font Awesome */
#page_top::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f106';
  font-size: 50px;
  color: #ffffff;
  position: absolute;
  width: 30px;
  height: 60px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}