<div class="public_sidebar">
    <div class="public_sidebar-item">
        <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt"></i> ログイン
        <% end %>
    </div>
    <div class="public_sidebar-item">
        <%= link_to new_user_registration_path do %>
            <i class="fas fa-user-plus"></i> 新規登録
        <% end %>
    </div>
</div>