<div class="top_sidebar" style="top: 50%; position: relative;">
    <div class="top_sidebar-item">
        <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt"></i> ログイン
        <% end %>
    </div>
    <div class="top_sidebar-item">
        <%= link_to new_user_registration_path do %>
            <i class="fas fa-user-plus"></i> 新規登録
        <% end %>
    </div>
</div>